
<h2>Simple Angular test</h2>
<form>
  <div class="fields">
    <label>Title</label>
      <select class="paddingg">
      <option >-- select an option --</option>
      <option *ngFor="let items of title ">{{items.name}}</option>
      </select>

  </div>
  <div class="fields">
    <label>FirstName</label>
    <input type="text" class="paddingg"/>
  </div>
  <div class="fields">
    <label>LastName</label>
    <input type="text" class="paddingg"/>
  </div>
  <div class="fields">

    <input type="checkbox" />
    <label>I accept the terms & conditions</label>
  </div>
  <div class="submit_button" (click)="binding()">  <button>Submit</button></div>

</form>

<h2>data Binding</h2>
<input type-="text" value="{{values}}">
<hr/>




<input type="text" placheholder="typeheree" name="post" [(ngModel)]="post" />
<button type="submit" (click)="passData(post)">Submit</button>
<app-home [childPosts]="parentpost" (passedEvent)="childEvent($event)"></app-home>
<router-outlet></router-outlet>
