
<h2>Simple Angular test</h2>
<form>
  <div class="fields">
    <label>Title</label>
      <select class="paddingg">
      <option >-- select an option --</option>
      <option *ngFor="let items of title ">{{items.name}}</option>
      </select>

  </div>
  <div class="fields">
    <label>FirstName</label>
    <input type="text" class="paddingg"/>
  </div>
  <div class="fields">
    <label>LastName</label>
    <input type="text" class="paddingg"/>
  </div>
  <div class="fields">

    <input type="checkbox" />
    <label>I accept the terms & conditions</label>
  </div>
  <div class="submit_button">  <button>Submit</button></div>

</form>

<h2>Property Binding</h2>
<input type-="text" value="{{values}}">
<hr/>
<h2>Two way  Binding</h2>

<br/><br/><br/>

<input type="text" placheholder="typehere" name="post" [(ngModel)]="post" />
<button type="submit" (click)="passData(post)">Submit</button>

<router-outlet></router-outlet>
